.blogContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  margin-top: 20px;
}

.banner {
  flex: 1;
  margin-right: 20px;
}

.bannerImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.tips {
  flex: 2;
}

.tipList {
  list-style-type: none;
  padding: 0;
}

/* Slider container */
.sliderContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Layout do item do slider */
.sliderItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

/* Imagem no slider */
.tipImage {
  width: 50%; /* Ocupa metade da largura do slider */
  max-width: 400px;
  border-radius: 8px;
  object-fit: cover;
}

/* Conteúdo de texto no slider */
.tipContent {
  width: 50%;
  text-align: center;
}

.icon {
  font-size: 24px;
  color: #4CAF50;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.tipContent h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tipContent p {
  font-size: 16px;
  color: #555;
  text-align: center;
  align-items: center;
}

/* Estilos de layout para a seção de notícias */
.news {
  margin-top: 20px;
  text-align: center;
}

.newsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.newsCard {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: left;
}

.newsImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Estilos para Dicas de Alta Temperatura */
.highTempTips {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff7e6;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(255, 165, 0, 0.2);
}

.highTempContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.highTempContainer .card {
  background-color: #fff3cd;
}

.icon1 {
  font-size: 40px;
  color: #ffb347;
}

/* Estilos para o slider - configurações de seta e pontos */
.slick-prev:before, .slick-next:before {
  color: #4CAF50;
}

.slick-dots li button:before {
  color: #4CAF50;
}

.slick-dots li.slick-active button:before {
  color: #4CAF50;
}
h3{
  text-align: center;
}
.contactSection {
  margin-top: 50px;
}

.contactButton {
  padding: 15px 30px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.contactButton:hover {
  background-color: #218838;
}
