.blogContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  margin-top: 20px;
}

.banner {
  flex: 1;
  margin-right: 20px; /* Espaço entre o banner e as dicas */
}

.bannerImage {
  width: 100%;
  height: auto; /* Ajusta a altura automaticamente */
  border-radius: 8px; /* Bordas arredondadas */
}

.tips {
  flex: 2; /* Dicas ocupam mais espaço */
}

.tipList {
  list-style-type: none; /* Remove a marcação da lista */
  padding: 0; /* Remove o padding */
}



.icon {
  margin-right: 10px; /* Espaço entre o ícone e o texto */
  color: #4CAF50; /* Cor do ícone */
  font-size: 24px; /* Tamanho do ícone */
}

.news {
  margin-top: 20px; /* Espaço acima da seção de notícias */
  text-align: center; /* Centraliza o título */
}

.newsContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards se ajustem em múltiplas linhas */
  justify-content: center; /* Centraliza os cards */
  margin-top: 10px; /* Espaçamento acima dos cards */
}

.newsCard {
  background-color: #f9f9f9; /* Cor de fundo dos cartões de notícias */
  border: 1px solid #ddd; /* Borda dos cartões de notícias */
  border-radius: 8px; /* Bordas arredondadas */
  padding: 10px; /* Padding interno */
  margin: 10px; /* Espaçamento entre os cartões */
  width: 300px; /* Largura fixa dos cartões */
  text-align: left; /* Alinhamento do texto dentro do card */
}

.newsImage {
  width: 100%; /* Imagem ocupa 100% da largura do card */
  height: auto; /* Ajusta a altura automaticamente */
  border-radius: 8px; /* Bordas arredondadas */
}
